﻿<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="~/"> <img src="~/images/logo.png" width="100px" /> Donarg</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                @Html.Action("TopMenu", "Layout", new { activeMenu = ViewBag.ActiveMenu })
                @if (Request.IsAuthenticated)
                {
                    <li class="dropdown pull-right">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            @Request.Cookies["UserData"]["NombreCompleto"]
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                @if (Request.Cookies["UserData"]["User"] == "rol_person")
                                {
                                    @Html.ActionLink("Editar datos personales", "Edit", "Person")
                                }
                                else if (Request.Cookies["UserData"]["User"] == "rol_intermediary")
                                {
                                    @Html.ActionLink("Editar datos", "Edit", "Intermediary")
                                }
                            </li>
                            <li>
                                @Html.ActionLink("Cambiar contraseña", "ChangePass", "User")
                            </li>
                            <li class="divider"></li>
                            <li>
                                @Html.ActionLink("Cerrar Sesión", "Logout", "User")
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    Request.Cookies.Clear();
                    <li>
                        @Html.ActionLink("Registrarse", "Create", "Person")
                    </li>
                    <li>
                        @Html.ActionLink("Ingresar", "Login", "User")
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
