body {
  padding-top: 80px;
  /*background-image:url(/images/medicamentos-5.jpg);
  background-size: 100%;
      */
}
.titleHeader
{
    background-color:#007FFF; 
    color:white;
    margin-top:40px;
    margin-bottom:25px;
}

.camposTelefonos
{
    margin-bottom:10px;
}

.messageAlert
{
    margin-top:40px;
    margin-bottom:25px;
}

.validate-error-class
{
    color:red;
    font-size:12px;
}