﻿@model DonacionMedicamentos.Web.Models.ListPersonModel

@{
    ViewBag.Title = "DashboardPerson";
}

<link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css">

@section Scripts {
    <script type="text/javascript" charset="utf8" src="~/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/js/DashboardPerson.js"></script>
    <script type="text/javascript">
        var selectChangeable = 1;
        $(document).ready(function () {
            InitialTable();
            UpdateList();
            $("#HideAndShow").visible();
        });

        function getRequest(pId) {
            window.location.href = '@Url.Action("GetRequest")' + '/' + pId;
        }

        function getDonation(pId) {
            window.location.href = '@Url.Action("GetDonation")' + '/' + pId;
        }
    </script>
}

@section Styles {
    <style>
        .panel {
            margin-top: 25px;
            margin-bottom: 25px;
            margin-right: 10px;
        }

        .tabla thead {
            margin-top: 25px;
            background-color: #007FFF;
            color: white;
            font-weight: lighter;
        }

        .tabla th {
            text-align: center;
        }

        .tabla tbody tr{
            white-space: nowrap; 
        }
    </style>
}

<div id="HideAndShow" style="visibility:hidden" class="container">
    @if (@ViewBag.InfoMessage != null)
    {
        <div class="alert alert-success messageAlert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <i class="fa fa-warning"></i> @ViewBag.InfoMessage
        </div>
    }
    @if (@ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
        </div>
    }

    <div id="requestsTable">
        <table id="" class="tabla display" cellspacing="0" min-width="100%">
            <thead>
                <tr>
                    <th width="10px"></th>
                    <th>Id</th>
                    <th width="50px">Cantidad de Medicamentos</th>
                    <th>Medicamentos</th>
                    <th>Fecha de Registro</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.requests)
            {
                    <tr>
                        <td>
                            <button class="btn btn-default btn-sm" onclick="getRequest(@item.Id)" style="float:right; color:Background; background-color:transparent">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                        </td>
                        <td style="text-align:center">
                            @item.Id
                        </td>
                        <td style="text-align:center">
                            @item.Medicamentos.Count
                        </td>
                        <td>
                            <select style="min-width:90%; border:hidden; background-color:transparent">
                                @foreach (var medicamento in item.Medicamentos)
                                {
                                    <option>
                                        @medicamento.Medicamento.NombreComercial
                                    </option>
                                }
                            </select>
                        </td>
                        <td style="text-align:center">
                            @item.Fecha.ToShortDateString()
                        </td>
                        <td>
                            @item.Estado
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="donationsTable">
        <table class="tabla display" cellspacing="0" min-width="100%">
            <thead>
                <tr>
                    <th width="10px"></th>
                    <th>Id</th>
                    <th width="50px">Cantidad de Medicamentos</th>
                    <th>Medicamentos</th>
                    <th>Fecha de Registro</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.donations)
                {
                    <tr>
                        <td>
                            <button class="btn btn-default btn-sm" onclick="getDonation(@item.Id)" style="float:right; color:Background; background-color:transparent">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                        </td>
                        <td style="text-align:center">
                            @item.Id
                        </td>
                        <td style="text-align:center">
                            @item.Medicamentos.Count
                        </td>
                        <td>
                            <select style="min-width:90%; border:hidden; background-color:transparent">
                                @foreach (var medicamento in item.Medicamentos)
                                {
                                    <option>
                                        @medicamento.Medicamento.NombreComercial
                                    </option>
                                }
                            </select>
                        </td>
                        <td style="text-align:center">
                            @item.Fecha.ToShortDateString()
                        </td>
                        <td>
                            @item.Estado
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <form id="formGetRequest" action="GetRequest" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" id="idToGetRequest" name="idToGetRequest" />
    </form>
    <form id="formGetDonation" action="GetDonation" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" id="idToGetDonation" name="idToGetDonation" />
    </form>
</div>


