﻿@model DonacionMedicamentos.Personas.DTO.PersonDTO

@{
    ViewBag.Title = "Editar";
}

@section Scripts {

<script>
        var idProvincia = @Model.Ciudad.Provincia.Id;
    var idCiudad = @Model.Ciudad.Id;
    $("#FechaNacimiento").val("@Model.FechaNacimiento.ToShortDateString()");

    DocumentReady();

    function DocumentReady()
    {
        $('#Account').mask('00000000');
        $('#FechaNacimiento').mask('00/00/0000');
        $('#Numero').mask('00000');
        $('#Piso').mask('000');
        $('#Departamento').mask('000');
        $('.codArea').mask('00000');
        $('.telefono').mask('00000000');
    }

</script>
    
<script type="text/javascript" src="@Url.Content("/js/register.js")"></script>
}

    <div class="container">
        <div class="titleHeader col-md-12">
            <h4>Editar datos personales</h4>
        </div>
        @if (@ViewBag.ErrorMessage != null)
        {
            <div class="row">
                <div class="alert alert-warning col-md-6 col-md-offset-3">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
                </div>
            </div>
        }
        <div class="row">
            @using (Html.BeginForm("Edit", "Person", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="col-md-6 col-md-offset-3">
                    @Html.AntiForgeryToken()

                    @Html.Hidden("CantidadTelefonos")

                    <div class="form-group">
                        @Html.Label("Nombre", "Nombre")
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", required = "required", pattern = "^[a-zA-Z\\s]+$" } })
                    </div>
                    <div class="form-group">
                        @Html.Label("Apellido", "Apellido")
                        @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control", required = "required", pattern = "^[a-zA-Z\\s]+$" } })
                    </div>
                    <div class="form-group">
                        @Html.Label("DNI", "DNI")
                        @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    </div>
                    <div class="form-group">
                        @Html.Label("Email")
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    </div>
                    <div class="form-group">
                        @Html.Label("Genero", "Genero")
                        @Html.DropDownList("Genero", new List<SelectListItem>
                                {
                                    new SelectListItem{ Text = "Masculino", Value = "Masculino" },
                                    new SelectListItem{ Text = "Femenino", Value = "Femenino" }
                                }, new { @class = "form-control", placeholder = "Genero" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Fecha de nacimiento")
                        @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control",required = "required", placeholder = "dd/mm/aaaaa", pattern = "^[0-9]{2}/[0-9]{2}/[0-9]{4}$" } })
                    </div>

                    <div class="form-group">
                        <div class="alert alert-danger" id="limit-telephones-alert" style="display:none;">
                            <button type="button" class="close" data-dismiss="alert">x</button>
                            <strong>Ha excedido el límite! </strong>
                            Ha excedido el límite de teléfonos, sólo se puede agregar hasta 3.
                        </div>

                        @Html.Label("Telefonos", "Telefonos")
                        <a id="btnAdd" style="cursor:pointer">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>

                        <div class="" id="TextBoxContainer">
                            @foreach (var phones in Model.Telefonos)
                            {
                                <div class="row camposTelefonos">
                                    <div class="col-md-3">
                                        <input id="dynamicCodArea" class="form-control codArea" name="" type="text" value="@phones.CodigoArea" required />
                                    </div>
                                    <div class="col-md-1">
                                        <p>-</p>
                                    </div>
                                    <div class="col-md-7">
                                        <input class="form-control telefono" id="dynamicTelefono" name="" type="text" value="@phones.Numero" required />
                                    </div>
                                    <a style="margin-top:10px;color:red; cursor:pointer;" class="remove glyphicon glyphicon-minus"></a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Calle", "Calle")
                        @Html.EditorFor(model => model.Calle, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Número", "Número")
                                @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control", type = "text", required = "required" } })
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                            <div class="form-group">
                                @Html.Label("Piso", "Piso")
                                @Html.EditorFor(model => model.Piso, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            </div>
                        </div>

                        <div class="col-md-4 col-md-offset-1">
                            <div class="form-group">
                                @Html.Label("Departamento", "Departamento")
                                @Html.EditorFor(model => model.Departamento, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Provincia", "Provincia")
                        @Html.DropDownList("Provincia", new List<SelectListItem>(), new { @class = "form-control", placeholder = "Provincia", onchange = "obtenerCiudades();", required = "required" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Ciudad", "Ciudad")
                        @Html.DropDownList("Ciudad", new List<SelectListItem>(), new { @class = "form-control", placeholder = "Ciudad", required = "required" })
                    </div>

                    <div style="float:right; margin-bottom:20px">
                        <input type="submit" class="btn btn-success" value="Guardar" />
                    </div>
                </div>
            }

        </div>
    </div>

