﻿@model DonacionMedicamentos.Personas.DTO.CreatePersonInput

@{
    ViewBag.Title = "RegisterPerson";
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("/js/register.js")"></script>
    <script>

        var idProvincia = null;
        var idCiudad = null;

        DocumentReady();

        function DocumentReady()
        {
            agregarCampo(true);
            $('#Account').mask('00000000');
            $('#FechaNacimiento').mask('00/00/0000');
            $('#Numero').mask('00000');
            $('#Piso').mask('000');
            $('#Departamento').mask('000');
            $('.codArea').mask('00000');
            $('.telefono').mask('00000000');

            if(HayQueInicializarCampos)
            {
                inicializarCampos();
            }
        }


    </script>
}

 <div class="container">
        <div class="titleHeader col-md-12">
            <h4>Registrarse</h4>
        </div>
        @if (@ViewBag.ErrorMessage != null)
        {
            <div class="row">
                <div class="alert alert-warning col-md-6 col-md-offset-3">
                    <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
                </div>
            </div>
            <text>
                <script type="text/javascript">
                    HayQueInicializarCampos = false;
                </script>
            </text>
        }
        else
        {
            <text>
            <script type="text/javascript">
                HayQueInicializarCampos = true;
            </script>
            </text>
        }
        <div class="row">
            @using (Html.BeginForm("Create", "Person", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="col-md-6 col-md-offset-3">
                    @Html.AntiForgeryToken()

                    @Html.Hidden("CantidadTelefonos")

                    <div class="form-group">
                        @Html.Label("Nombres", "Nombres", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Nombre, "", new { htmlAttributes = new { @class = "form-control", required = "required", pattern = "^[a-zA-Z\\s]+$" } })
                    </div>
                    <div class="form-group">
                        @Html.Label("Apellidos", "Apellidos")
                        @Html.EditorFor(model => model.Apellido, "", new { htmlAttributes = new { @class = "form-control", required = "required", pattern = "^[a-zA-Z\\s]+$" } })
                    </div>
                    <div class="form-group">
                        @Html.Label("DNI", "DNI")
                        @Html.EditorFor(model => model.Account,"", new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    </div>
                    <div class="form-group">
                        @Html.Label("Email", "Email")
                        @Html.EditorFor(model => model.Email, "", new { htmlAttributes = new { @class = "form-control", required = "required", type="email" } })
                    </div>
                    <div class="form-group">
                        @Html.Label("Contraseña", "Contraseña")
                        @Html.EditorFor(model => model.Password, "", new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    </div>
                    <div class="form-group">
                        @Html.Label("Repetir Contraseña", "Repetir Contraseña")
                        @Html.EditorFor(model => model.RepeatPassword,"", new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    </div>
                    <div class="form-group">
                        @Html.Label("Genero", "Genero")
                        @Html.DropDownListFor(model => model.Genero, new List<SelectListItem>
                                {
                                    new SelectListItem{ Text = "Masculino", Value = "Masculino" },
                                    new SelectListItem{ Text = "Femenino", Value = "Femenino" }
                                }, new { @class = "form-control", placeholder = "Genero" })
                    </div>
                    <div class="form-group">
                        @Html.Label("FechaNacimiento", "Fecha de Nacimiento")
                        @Html.EditorFor(model => model.FechaNacimiento,"", new { htmlAttributes = new { @class = "form-control", required = "required", placeholder="dd/mm/aaaaa", pattern = "^[0-9]{2}/[0-9]{2}/[0-9]{4}$" } })
                    </div>

                    <div class="form-group">
                        <div class="alert alert-danger" id="limit-telephones-alert" style="display:none;">
                            <button type="button" class="close" data-dismiss="alert">x</button>
                            <strong>Ha excedido el límite! </strong>
                            Ha excedido el límite de teléfonos, sólo se puede agregar hasta 3.
                        </div>

                        @Html.Label("Telefonos", "Telefonos")
                        <a id="btnAdd" style="cursor:pointer">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <div class="" id="TextBoxContainer">
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Calle", "Calle")
                        @Html.EditorFor(model => model.Calle, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Número", "Número")
                                @Html.EditorFor(model => model.Numero,"", new { htmlAttributes = new { @class = "form-control", required = "required",type="text" } })
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                            <div class="form-group">
                                @Html.Label("Piso", "Piso")
                                @Html.EditorFor(model => model.Piso,"", new { htmlAttributes = new { @class = "form-control",type = "text" } })
                            </div>
                        </div>

                        <div class="col-md-4 col-md-offset-1">
                            <div class="form-group">
                                @Html.Label("Departamento", "Departamento")
                                @Html.EditorFor(model => model.Departamento,"", new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Provincia", "Provincia")
                        @Html.DropDownList("Provincia", new List<SelectListItem>(), new { @class = "form-control", placeholder = "Provincia", onchange = "obtenerCiudades();" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Ciudad", "Ciudad")
                        @Html.DropDownList("Ciudad", new List<SelectListItem>(), new { @class = "form-control", placeholder = "Ciudad" })
                    </div>

                    <div style="float:right; margin-bottom:20px">
                        <input type="submit" class="btn btn-success" value="Registrarse" />
                    </div>
                </div>
            }
            </div>
</div>
