﻿@model DonacionMedicamentos.Personas.DTO.RegisterDonationInput

<link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">


@section Scripts
{
    <script type="text/javascript" charset="utf8" src="~/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/js/addDrugsScripts.js"></script>
    <script>
        var dialogInvalidInput;
        $(document).ready(function () {
            initializeMonthAndYear();
            InitializeTableDonation();            
        });
    </script>
}

@section Styles {
    <style>
        .tabla thead {
            background-color: #007FFF;
            color: white;
            font-weight: lighter;
        }
        .tabla th{
            text-align:center;
        }
        .tabla tbody tr{
            white-space: nowrap; 
    }
    </style>
}

@using (Html.BeginForm("RegisterDonation", "Person", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        @if (@ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
            </div>
        }

        <div class="row">
            <div class="titleHeader col-md-12">
                <h4>Registrar donación</h4>
            </div>
            <div class="col-md-12">
                <table id="tableDrugsDonation" class="table display" width="100%">
                    <thead>
                        <tr>
                            <th>Nombre Comercial</th>
                            <th>Nombre Genérico</th>
                            <th>Dósis</th>
                            <th>Cantidad</th>
                            <th style="width:100px">Fec. de Venc.</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="list-group">
                    <span class="list-group-item active titleHeader">Medicamentos seleccionados</span>
                    <span id="listDrugsDonation">

                    </span>
                    <!-- Comienza el formato de los medicamentos seleccionados -->
                    <!-- Finaliza el formato de los medicamentos seleccionados -->
                </div>
            </div>
        </div>

        <input id="totalDrugsDonation" name="totalDrugsDonation" type="hidden" value="">


        <hr />

        <div class="row">
            <div class="col-md-1 col-md-offset-11">
                <input type="submit" class="btn btn-success" value="Aceptar">
            </div>
        </div>
    </div>
}



<div id="dialog-message-invalidInput" title="Cantidad inválida">
    <p>
        Por favor, ingrese un valor válido para la cantidad.
    </p>
</div>