﻿@model DonacionMedicamentos.Personas.DTO.PersonDTO
@{
    ViewBag.Title = "Persona";
}

<link rel="stylesheet" type="text/css" href="~/css/main.css">

@{
    /// Get person's age
    var today = DateTime.Today;
    var age = today.Year - Model.FechaNacimiento.Year;
    if (Model.FechaNacimiento > today.AddYears(-age)) { age--; }
}

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 titleHeader">
                <h4>Perfil</h4>
            </div>
            <div class="col-md-2">
                @if (Model.Genero == "Masculino")
            {
                    <img src="~/images/perfilHombre.png" width="100px" />
                }
                else
                {
                    <img src="~/images/perfilMujer.png" width="100px" />
                }
            </div>
            <div class="col-md-4">
                <h4>@Model.Nombre @Model.Apellido</h4>
                <p>DNI @Model.Account</p>
                <p>@age años</p>
            </div>
        </div>
    </div>
    <hr />
    <div class="container-fluid" style="margin-top:20px">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <p>@Model.Calle @Model.Numero</p>
                @if (Model.Departamento != 0)
            {
                    <p>
                        Piso @Model.Piso Departamento @Model.Departamento
                    </p>
                }
                <p>@Model.Ciudad.Nombre, @Model.Ciudad.Provincia.Nombre</p>
            </div>
            <div class="col-md-4">
                @foreach (var telefono in Model.Telefonos)
            {
                    <p>
                        <span class="glyphicon glyphicon-earphone"></span>
                        @telefono.CodigoArea @telefono.Numero
                    </p>
                }
                <p><span class="glyphicon glyphicon-envelope"></span> @Model.Email</p>
            </div>
        </div>
    </div>
</div>
