﻿@model DonacionMedicamentos.Requests.DTO.GetRequestsOutput
@{
    ViewBag.Title = "Solicitud";
}


@{
    /// Get person's age
    var today = DateTime.Today;
    var age = today.Year - Model.Persona.FechaNacimiento.Year;
    if (Model.Persona.FechaNacimiento > today.AddYears(-age)) { age--; }

    var pathImage = "file://" + Model.RutaReceta;
}

@section Scripts
{
    <script>
        $(function () {
            $("#dialog-form-approve").dialog({
                autoOpen: false,
                modal: true,
                width: 'auto',
                buttons: [
                    {
                        text: "Aprobar",
                        click: function() 
                        {
                            $("#form-approve").submit();
                        }
                    },
                    {
                        text: "Cancelar",
                        click: function() 
                        {
                            $(this).dialog("close");
                        }
                    }],
                close: function () {
                    $("#form-approve")[0].reset();
                }
            });


            $("#dialog-form-comment").dialog({
                autoOpen: false,
                width: 'auto',
                modal: true,
                buttons: {
                    "Enviar observación": function () {
                        $("#form-comment").submit();
                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    $("#form-comment")[0].reset();
                }
            });

            $("#dialog-form-cancel-person").dialog({
                autoOpen: false,
                modal: true,
                buttons: {
                    "Aceptar": function () {
                        $("#form-cancel-person").submit();
                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    $("#form-cancel")[0].reset();
                }
            });

            $("#dialog-form-cancel-intermediary").dialog({
                autoOpen: false,
                modal: true,
                buttons: {
                    "Aceptar": function () {
                        $("#form-cancel-intermediary").submit();
                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    $("#form-cancel-intermediary")[0].reset();
                }
            });
        });

        $.fn.button.noConflict();

        function ApproveRequest() {
            $("#dialog-form-approve").dialog("open");
        }

        function OpenDialogComment()
        {
            $("#dialog-form-comment").dialog("open");
        }
        
        function EditRequest() {
            location.href = "/Person/EditRequest/@Model.Id";
        }

        function CancelRequestPerson() {
            $("#dialog-form-cancel-person").dialog("open");
        }

        function CancelRequestIntermediary() {
            $("#dialog-form-cancel-intermediary").dialog("open");
        }

        function getPerson()
        {
            $('#idToGetPerson').val(@Model.Persona.Account);
            $('#formGetPerson').submit();
        }
    </script>
}

<div class="container">
    <div class="row">
        <div class="titleHeader col-md-12">
            <h4>Solicitud</h4>
        </div>
        <div class="row" style="padding:0px 50px">
            <div class="row">
                <div class="col-md-8">
                    <h4>Solicitante</h4>
                    <div class="col-md-2">
                        @if (Model.Persona.Genero == "Masculino")
                        {
                            <img src="~/images/perfilHombre.png" width="100px"/>
                            }
                            else
                            {
                            <img src="~/images/perfilMujer.png" width="100px" />
                        }
                    </div>
                    <div class="col-md-6">
                        <p>@Model.Persona.Nombre</p>
                        <p>@age años</p>
                        <p>@Model.Persona.Ciudad.Nombre , @Model.Persona.Ciudad.Provincia.Nombre</p>
                </div>
            </div>
            <div class="col-md-4" style="margin-top:15px; text-align:right">
                @{
                    if (Request.Cookies["UserData"]["User"] == "rol_person")
                    {
                        if (Model.Estado == "Registrada")
                        {
                            <button class="btn btn-default" onclick="EditRequest()">Editar</button>
                            <button class="btn btn-danger" onclick="CancelRequestPerson()">Cancelar</button>
                        }
                    }
                    else
                    {
                        if (Model.Estado == "Registrada")
                        {
                            <button class="btn btn-default" onclick="OpenDialogComment()">Agregar observación</button>
                            <button class="btn btn-success" onclick="ApproveRequest()">Aprobar</button>
                        }
                        else
                        {
                            <button class="btn btn-default" onclick="getPerson(@Model.Persona.Account)">Contactar</button>
                            if (Model.Estado == "Aprobada")
                            {
                                <button class="btn btn-danger" onclick="CancelRequestIntermediary()">Cancelar</button>;
                            }
                        }
                    }
                }
</div>
        </div>

        <div class="row" style="margin-top:20px">
            <h4>Medicamentos</h4>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Nombre comercial</th>
                        <th>Nombre genérico</th>
                        <th>Dósis</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.Medicamentos)
                    {
                        <tr>
                            <td>@item.Medicamento.NombreComercial</td>
                            <td>@item.Medicamento.NombreGenerico</td>
                            <td>@item.Medicamento.Dosis</td>
                            <td>@item.Cantidad</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-md-2 col-md-offset-10">
                <span>Ver receta</span> <a href="~/images/recetas/@Model.RutaReceta"><img src="~/images/logoImagen.png" width="50px" /></a>
            </div>
        </div>
    </div>
   </div>

    <div class="row">
        <div class="col-md-12 titleHeader" style="margin-top:25px">
            <h6>Observaciones</h6>
        </div>
        <div class="col-md-12" style="padding:15px 50px">
              @{
                   foreach (var item in Model.Observaciones)
                   {
                    <table width="100%">
                        <tr><td class="text-right"><strong>@item.Fecha</strong></td></tr>
                        <tr><td><p class="text-justify">@item.Detalle</p></td></tr>
                    </table>
                    <hr />
                   }
                }
        </div>
    </div>
</div>

<div id="dialog-form-comment" title="Agregar observación">
    <form id="form-comment" method="post" action="/Intermediary/AddComment/@Model.Id">
        @Html.AntiForgeryToken()
        <fieldset>
            <label for="comment"></label>
            <textarea style="margin-top:10px; margin-bottom:10px; resize: none;" rows="5" cols="50"  name="comment" id="comment" placeholder="Ingrese aquí su comentario" class="text ui-widget-content ui-corner-all"></textarea>
        </fieldset>
    </form>
</div>

<div id="dialog-form-approve" title="Aprobar solicitud">
    <form id="form-approve" method="post" action="@Url.Action("ApproveRequest", "Intermediary", new { id = Model.Id })">
        @Html.AntiForgeryToken()
        <fieldset style="margin-top:10px; margin-bottom:10px">
            ¿Está seguro que desea aprobar la solicitud?
        </fieldset>
    </form>
</div>

<div id="dialog-form-cancel-person" title="Cancelar solicitud">
    <form id="form-cancel-person" method="post" action="@Url.Action("CancelRequest","Person",new { id= Model.Id })">
        @Html.AntiForgeryToken()
        <fieldset style="margin-top:10px; margin-bottom:10px">
            ¿Está seguro que desea cancelar la solicitud?
        </fieldset>
    </form>
</div>

<div id="dialog-form-cancel-intermediary" title="Cancelar solicitud">
    <form id="form-cancel-intermediary" method="post" action="@Url.Action("CancelRequest","Intermediary",new { id= Model.Id })">
        @Html.AntiForgeryToken()
        <fieldset style="margin-top:10px; margin-bottom:10px">
            ¿Está seguro que desea cancelar la solicitud?
        </fieldset>
    </form>
</div>

<form id="formGetPerson" action="/Person/GetPerson" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" id="idToGetPerson" name="idToGetPerson" />
</form>