﻿@model DonacionMedicamentos.Web.Models.ListIntermediaryModel

@{
    ViewBag.Title = "DashboardIntermediary";
}

<link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css">

@section Scripts {
    <script type="text/javascript" charset="utf8" src="~/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/js/DashboardIntermediary.js"></script>
    <script>
        var selectChangeable = 1;
       var IsChecked = false;
        @if(ViewBag.IsChecked=="t")
        {
            <text>
            IsChecked = true;
            </text>
        }
        var data;

        var boolSelect;

        $(document).ready(function () {                 
            InitialTable();
            UpdateList();
            $("#HideAndShow").visible();
            var table = $('table.display').DataTable();

            $('input[name=checkPropias]').change(function () {
                boolSelect = this.checked;
                $("input[name=checkPropias]")
                .each(function () { 
                    this.checked = boolSelect;
                })
                $('.formCheck').submit();
            });

        });
        
        $("#dialogRequestState").dialog({
            autoOpen: false,
            modal: true,
            dialogClass: "ui-dialog",
            buttons: {
                "Aceptar": function () {
                    $("#form_ChangeRequestState").submit();
                    $(this).dialog("close");
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#dialogDonationState").dialog({
            autoOpen: false,
            buttons: {
                "Aceptar": function () {
                    $("#form_ChangeDonationState").submit();
                    $(this).dialog("close");
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });

        $.fn.button.noConflict();

        function getRequest(pId) {
            window.location.href = '@Url.Action("GetRequest")' + '/' + pId;
        }

        function getDonation(pId) {
            window.location.href = '@Url.Action("GetDonation")' + '/' + pId;
        }

        function InitialTable() {
            $('table.display').DataTable({
                select: true,
                lenghtChange: false,
                lengthMenu: [10],
                language:
                {
                    "sSearch": "Buscar:",
                    "oPaginate":
                        {
                            "sFirst": "Primero",
                            "sPrevious": "Anterior",
                            "sNext": "Siguiente",
                            "sLast": "Último"
                        },
                    "lengthMenu": "Mostrar los primeros _MENU_ registros",
                    "zeroRecords": "No se han encontrado resultados",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No se encontraron registros",
                    "infoFiltered": "(filtrado de _MAX_ registros en total)"
                },
                dom: 'rf <"panel" <"toolbar">> <"tabla" t> ip'
            });
            $("div.toolbar").html(
                '<form class="formCheck" action="" method="post"> @Html.AntiForgeryToken()' +
                    '<input type="checkbox" id="checkPropias" style="margin-right:5px" name="checkPropias" value="true" onclick="UpdateListCheck()" @if (ViewBag.IsChecked == "t") { <text> checked </text>}> Propias' +
                    '<select id="OptionList" class="display" style="margin-right:10px; margin-left:10px" onchange="UpdateList()">' +
                        '<option value="Solicitudes">Solicitudes</option>' +
                        '<option value="Donaciones">Donaciones</option>' +
                    '</select>' +
                '</form>'
            );
                    }
    </script>
}

@section Styles {
    <style>
        .panel {
            text-align: right;
            margin-top: 25px;
            margin-bottom: 25px;
            margin-right: 10px;
        }

        .tabla thead {
            margin-top: 25px;
            background-color: #007FFF;
            color: white;
            font-weight: lighter;
        }

        .tabla th {
            text-align: center;
        }

        .tabla tbody tr{
            white-space: nowrap; 
        }
    </style>
}

<div id="HideAndShow" class="container" style="visibility:hidden">
    @if (@ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-warning messageAlert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> 
            <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
        </div>
    }
    @if (@ViewBag.InfoMessage != null)
    {
        <div class="alert alert-success messageAlert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> 
            <i class="fa fa-warning"></i> @ViewBag.InfoMessage
        </div>
    }
    
    <div id="requestsTable">
        <table class="table table-responsive display" cellspacing="0" min-width="100%">
            <thead>
                <tr>
                    <th width="10px"></th>
                    <th>Id</th>
                    <th width="50px">Cantidad de Medicamentos</th>
                    <th>Medicamentos</th>
                    <th>Fecha de Registro</th>
                    <th>Localidad</th>
                    <th>Provincia</th>
                    <th >Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.requests)
                {
                    <tr>
                        <td>
                            <button class="btn btn-default btn-sm" onclick="getRequest(@item.Id)" style="float:right; color:Background; background-color:transparent" >
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                        </td>
                        <td style="text-align:center">
                            @item.Id
                        </td>
                        <td style="text-align:center">
                            @item.Medicamentos.Count
                        </td>
                        <td>
                            <select style="min-width:90%; border:hidden; background-color:transparent">
                                @foreach (var medicamento in item.Medicamentos)
                                {
                                    <option>
                                        @medicamento.Medicamento.NombreComercial
                                    </option>
                                }
                            </select>
                        </td>
                        <td style="text-align:center">
                            @item.Fecha.ToShortDateString()
                        </td>
                        <td>
                            @item.Persona.Ciudad.Nombre
                        </td>
                        <td>
                            @item.Persona.Ciudad.Provincia.Nombre
                        </td>
                        <td>
                            @item.Estado
                        </td>
                        <td>
                            @if ((item.Estado != "Registrada") && (item.Estado != "Cancelada"))
                            {
                                <button onclick="openDialogRequestState(@item.Id,'@item.Estado')" class="btn btn-default btn-sm" style="float:right; color:Background; background-color:transparent">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="donationsTable">
        <table class="table table-responsive display" cellspacing="0" min-width="100%">
            <thead>
                <tr>
                    <th width="10px"></th>
                    <th>Id</th>
                    <th width="50px">Cantidad de Medicamentos</th>
                    <th>Medicamentos</th>
                    <th>Fecha de Registro</th>
                    <th>Localidad</th>
                    <th>Provincia</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.donations)
                {
                    <tr>
                        <td>
                            <button class="btn btn-default btn-sm"  onclick="getDonation(@item.Id)" style="float:right; color:Background; background-color:transparent">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                        </td>
                        <td style="text-align:center">
                            @item.Id
                        </td>
                        <td style="text-align:center">
                            @item.Medicamentos.Count
                        </td>
                        <td>
                            <select style="min-width:90%; border:hidden; background-color:transparent">
                                @foreach (var medicamento in item.Medicamentos)
                                {
                                    <option>
                                        @medicamento.Medicamento.NombreComercial
                                    </option>
                                }
                            </select>
                        </td>
                        <td style="text-align:center">
                            @item.Fecha.ToShortDateString()
                        </td>
                        <td>
                            @item.Persona.Ciudad.Nombre
                        </td>
                        <td>
                            @item.Persona.Ciudad.Provincia.Nombre
                        </td>
                        <td>
                            @item.Estado
                        </td>
                        <td>
                            @if ((item.Estado != "Registrada") && (item.Estado != "Cancelada"))
                            {
                                <button onclick="openDialogDonationState(@item.Id,'@item.Estado')" class="btn btn-default btn-sm" style="float:right; color:Background; background-color:transparent">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="dialogRequestState" title="Cambiar de estado">
        <div class="form-group">
            <form id="form_ChangeRequestState" method="post" action="@Url.Action("ChangeRequestState")">
                @Html.AntiForgeryToken()
                @Html.Label("Estados", "Estados")
                @Html.DropDownList("RequestState", new List<SelectListItem>
            {
                new SelectListItem{ Text = "En distribución", Value = "2" },
                new SelectListItem{ Text = "Entregada", Value = "3" }
            }, new { @class = "form-control", placeholder = "Estados" })
                @Html.Hidden("idRequest", null)
            </form>
        </div>
    </div>

    <div id="dialogDonationState" title="Cambiar de estado">
        <div class="form-group">
            <form id="form_ChangeDonationState" method="post" action="@Url.Action("ChangeDonationState")">
                @Html.AntiForgeryToken()
                @Html.Label("Estados", "Estados")
                @Html.DropDownList("DonationState", new List<SelectListItem>
            {
                new SelectListItem{ Text = "En retiro", Value = "2" },
                new SelectListItem{ Text = "Almacenada", Value = "3" },
                new SelectListItem{ Text = "Entregada parcialmente", Value = "4" },
                new SelectListItem{ Text = "Entregada", Value = "5" }
            }, new { @class = "form-control", placeholder = "Estados" })
                @Html.Hidden("idDonation", null)
            </form>
        </div>
    </div>
</div>