﻿@model DonacionMedicamentos.Intermediarios.DTO.IntermediaryDTO

@{
    ViewBag.Title = "Editar";
    ViewBag.CUIT = Model.Account;
}

@section Scripts {
    
    <script type="text/javascript" src="@Url.Content("/js/register.js")"></script>

    <script>
        var idProvincia = @Model.Ciudad.Provincia.Id;
        var idCiudad = @Model.Ciudad.Id;
        $('#CUIT').mask('00-00000000-0');
        $('#Número').mask('0000');
        $('#Departamento').mask('000');
        $('#Piso').mask('000');
    </script>
        
    
}

<div class="container">
    <div class="titleHeader col-md-12">
        <h4>Editar datos</h4>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("CantidadTelefonos")

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Account, "CUIT", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
                </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Account, "CUIT", htmlAttributes: new { @class = "control-label" })
                @Html.TextBox("CUIT",Model.Account, new  { @class = "form-control", onkeydown = "GetAccountUnMask()", onpaste = "GetAccountUnMask()", pattern = "^[0-9]{2}-[0-9]{8}-[0-9]$", required = "required"})
                @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control", type = "hidden", required = "required" } })
                @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
            </div>

                <div class="form-group">
                    <div class="alert alert-danger" id="limit-telephones-alert" style="display:none;">
                        <button type="button" class="close" data-dismiss="alert">x</button>
                        <strong>Ha excedido el límite! </strong>
                        Ha excedido el límite de teléfonos, sólo se puede agregar hasta 3.
                    </div>
                    <label class="control-label">Telefonos</label>
                    <a id="btnAdd" class="" style="cursor:pointer">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    <div id="TextBoxContainer">
                        @{ int cantTelefonos = 0;}
                        @foreach (var phones in Model.Telefonos)
                        {
                            cantTelefonos = cantTelefonos + 1;
                            <div class="row camposTelefonos">
                                <div class="col-md-3">
                                    <input id="dynamicCodArea" class="form-control" name="" type="text" value="@phones.CodigoArea" required="required" />
                                </div>
                                <div class="col-md-1">
                                    <p>-</p>
                                </div>
                                <div class="col-md-7">
                                    <input class="form-control" id="dynamicTelefono" name="" type="text" value="@phones.Numero" required="required"/>
                                </div>
                                @if (cantTelefonos > 1)
                                {
                                    <a style="margin-top:10px;color:red; cursor:pointer;" class="remove glyphicon glyphicon-minus"></a>
                                }

                            </div>
                        }
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Calle", "Calle")
                @Html.EditorFor(model => model.Calle, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Número", "Número")
                                @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control",type="text", required = "required" } })
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                            <div class="form-group">
                                @Html.Label("Piso", "Piso")
                                @Html.EditorFor(model => model.Piso, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            </div>
                        </div>

                        <div class="col-md-4 col-md-offset-1">
                            <div class="form-group">
                                @Html.Label("Departamento", "Departamento")
                                @Html.EditorFor(model => model.Departamento, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        @Html.Label("Provincia", "Provincia")
                        @Html.DropDownList("Provincia", new List<SelectListItem>(), new { @class = "form-control", placeholder = "Provincia", onchange = "obtenerCiudades();inicializarIdsCiudades();" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Ciudad", "Ciudad")
                        @Html.DropDownList("Ciudad", new List<SelectListItem>(), new { @class = "form-control", placeholder = "Provincia" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 col-md-offset-10">
                            <input type="submit" value="Guardar" class="btn btn-default" />
                        </div>
                    </div>
                            }
        </div>
    </div>
    <hr />
</div>

