﻿@{
    ViewBag.ActiveMenu = "Home"; //The menu item will be active for this page.
}

<style>
    .alpha60 {
		/* Fallback for web browsers that doesn't support RGBa */
		background: rgb(0, 0, 0);
		/* RGBa with 0.6 opacity */
		background: rgba(0, 0, 0, 0.6);
	}


    .myCarousel{
  width:100%;
  max-height: 500px !important;
}
</style>


<div>
  
        <div class="row">
            <div class="col-md-12">
                    <div class="carousel slide" id="carousel-262867" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li class="active" data-slide-to="0" data-target="#carousel-262867">
                            </li>
                            <li data-slide-to="1" data-target="#carousel-262867">
                            </li>
                            <li data-slide-to="2" data-target="#carousel-262867">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active" style="align-items:center">
                                <img class="img-responsive center-block myCarousel" alt="Carousel Bootstrap First" src="~/images/medicamentos.jpg" />
                                <div class="carousel-caption alpha60">
                                    <h2>Donación de medicamentos</h2>
                                    <p>Nuestro objetivo es brindar una herramienta a la sociedad que dé soporte a la donación de medicamentos.</p>
                                </div>
                            </div>
                            <div class="item">
                                <img  class="img-responsive center-block myCarousel" alt="Carousel Bootstrap Second" src="~/images/medicamentos-1.jpg" />
                                <div class="carousel-caption alpha60">
                                    <h2>Donación de medicamentos</h2>
                                    <p>Trabajamos en conjunto con fundaciones para lograr el objetivo de todos.</p>
                                </div>
                            </div>
                            <div class="item">
                                <img  class="img-responsive center-block myCarousel" alt="Carousel Bootstrap Third" src="~/images/medicamentos-2.jpg" />
                                <div class="carousel-caption alpha60">
                                    <h2>Donación de medicamentos</h2>
                                    <p>Tu ayuda se transforma en salud para otras personas.</p>
                                </div>
                            </div>
                        </div> <a class="left carousel-control" href="#carousel-262867" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-262867" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
            </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="jumbotron" style="margin-top:50px;">
                        <h2>
                            Hacé tu donación de medicamentos ahora.
                        </h2>
                        <p>
                            Sólo tenes que registrarte y ya podés comenzar
                        </p>
                        <p>
                            <a class="btn btn-primary btn-large" href="Person/Create">Registrate</a>
                        </p>
                    </div>
                </div>
            </div>
    </div>
