﻿@model List<DonacionMedicamentos.Intermediarios.DTO.IntermediaryDTO>

@{
    ViewBag.Title = "DashboardAdmin";
}

<link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css">

@section Styles {
    <style>
        .panel {
            margin-top: 25px;
            margin-right: 10px;
        }

        .tabla thead {
            background-color: #007FFF;
            color: white;
            font-weight: lighter;
        }

        .tabla th {
            text-align: center;
        }

        .tabla tbody tr{
            white-space: nowrap; 
        }
    </style>
}

@section Scripts {
<script type="text/javascript" charset="utf8" src="~/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="~/js/DashboardAdmin.js"></script>
    <script>
        $(document).ready(function () {
            InitialTable();
            $("#HideAndShow").visible();
        });
    </script>
}

<div id="HideAndShow" style="visibility:hidden" class="container">
    <div id="intermediariesTable">
        <table class="table table-responsive display" cellspacing="0" min-width="100%">
            <thead>
                <tr>
                    <th>Cuenta</th>
                    <th>Nombre</th>
                    <th>Telefonos</th>
                    <th>Direccion</th>
                    <th>Localidad</th>
                    <th>Provincia</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @item.Account
                        </td>
                        <td style="text-align:center">
                            @item.Nombre
                        </td>
                        <td>
                            <select style="min-width:90%; border:hidden; background-color:transparent">
                                @foreach (var telefono in item.Telefonos)
                                {
                                    <option>
                                        @telefono.CodigoArea @telefono.Numero
                                    </option>
                                }
                            </select>
                        </td>
                        <td>
                            @item.Calle @item.Numero
                        </td>
                        <td>
                            @item.Ciudad.Nombre
                        </td>
                        <td>
                            @item.Ciudad.Provincia.Nombre
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" onclick="trashIntermediary(@item.Id)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="divToTrashIntermediary" title="Eliminar Intermediario">
        <form id="formTrashIntermediary" action="" method="post">
            @Html.AntiForgeryToken()
            <fieldset>
                <legend></legend>
                ¿Está seguro que desea eliminar el Intermediario?
            </fieldset>
            <input type="hidden" id="idToDelete" name="idToDelete" />
        </form>
    </div>
</div>
