﻿@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            @if (@ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
                </div>
            }

            <h4 style="margin-top:50px">Acceso privilegiado para administrador</h4>

            @using (Html.BeginForm("Login", "Admin"))
            {
                @Html.AntiForgeryToken()
                @Html.TextBox("Account", null, new { @class = "form-control", placeholder = "Cuenta" })
                @Html.TextBox("Contraseña", null, new { @class = "form-control", placeholder = "Contraseña", type = "password" })
                <p>
                    <input type="submit" class="btn btn-default" style="width:100%" id="Go" value="Ingresar" />
                </p>
            }
        </div>
        
    </div>
</div>
    

