﻿@model DonacionMedicamentos.Admins.DTO.RegisterIntermediaryInput

@{
    ViewBag.Title = "Registrar intermediario";
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("/js/register.js")"></script>
    <script>
        $(document).ready(function () {
            agregarCampo(true);
            $('#CUIT').mask('00-00000000-0');
        });
        var idProvincia = null;
        var idCiudad = null
    </script>
}

<div class="container">
    <div class="titleHeader col-md-12">
        <h4>Registrar intermediario</h4>
    </div>


<div class="row">
    <div class="col-md-6 col-md-offset-3">
        @if (@ViewBag.ErrorMessage != null)
            {
            <div class="alert alert-danger">
                <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
            </div>
        }

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("CantidadTelefonos")

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required = "required", type = "email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Account, "CUIT", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
            </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, "Contraseña", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RepeatPassword, "Repetir contraseña", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.RepeatPassword, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.RepeatPassword, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">

                    <div class="alert alert-danger" id="limit-telephones-alert" style="display:none;">
                        <button type="button" class="close" data-dismiss="alert">x</button>
                        <strong>Ha excedido el límite! </strong>
                        Ha excedido el límite de teléfonos, sólo se puede agregar hasta 3.
                    </div>

                    <label class="control-label">Telefonos</label>

                    <a id="btnAdd" class="" style="cursor:pointer">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    <div id="TextBoxContainer">
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Calle", "Calle")
                    @Html.EditorFor(model => model.Calle, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Número", "Número")
                            @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control", value = "" } })
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <div class="form-group">
                            @Html.Label("Piso", "Piso")
                            @Html.EditorFor(model => model.Piso, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="col-md-4 col-md-offset-1">
                        <div class="form-group">
                            @Html.Label("Departamento", "Departamento")
                            @Html.EditorFor(model => model.Departamento, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    @Html.Label("Provincia", "Provincia")
                    @Html.DropDownList("Provincia", new List<SelectListItem>(), new { @class = "form-control", placeholder = "Provincia", onchange = "obtenerCiudades();inicializarIdsCiudades();", required = "required" })
                </div>
                    <div class="form-group">
                        @Html.Label("Ciudad", "Ciudad")
                        @Html.DropDownList("Ciudad", new List<SelectListItem>(), new { @class = "form-control", placeholder = "Ciudad", required = "required" })
                    </div>


                    <div class="form-group">
                        <div class="col-md-2 col-md-offset-10">
                            <input type="submit" value="Guardar" class="btn btn-default" />
                        </div>
                    </div>
            }
        </div>
    </div>
    <hr />
</div>
