﻿@model DonacionMedicamentos.Donations.DTO.GetDonationsOutput
@{
    ViewBag.Title = "Donación";
}

@{
    /// Get person's age
    var today = DateTime.Today;
    var age = today.Year - Model.Persona.FechaNacimiento.Year;
    if (Model.Persona.FechaNacimiento > today.AddYears(-age)) { age--; }
}

@section Scripts
{
    <script>
        $(function () {
            $("#dialog-form-approve").dialog({
                autoOpen: false,
                height: 180,
                width: 400,
                modal: true,
                buttons: {
                    "Aprobar": function () {
                        $("#form-approve").submit();
                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    $("#form-approve")[0].reset();
                }
            });

            $("#dialog-form-cancel-person").dialog({
                autoOpen: false,
                modal: true,
                buttons: {
                    "Aceptar": function () {
                        $("#form-cancel-person").submit();
                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    $("#form-cancel-person")[0].reset();
                }
            });

            $("#dialog-form-cancel-intermediary").dialog({
                autoOpen: false,
                modal: true,
                buttons: {
                    "Aceptar": function () {
                        $("#form-cancel-intermediary").submit();
                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    $("#form-cancel-intermediary")[0].reset();
                }
            });
        });

        $.fn.button.noConflict();

        function ApproveDonation() {
            $("#dialog-form-approve").dialog("open");
        }

        function EditDonation() {
            location.href = "/Person/EditDonation/@Model.Id";
        }
        
        function CancelDonationPerson() {
            $("#dialog-form-cancel-person").dialog("open");
        }

        function CancelDonationIntermediary() {
            $("#dialog-form-cancel-intermediary").dialog("open");
        }
    </script>
}

<div class="container">
    <div class="row">
        <div class="titleHeader col-md-12">
            <h4>Donación</h4>
        </div>
        <div class="row" style="padding:0px 50px">
            <div class="row">
                <div class="col-md-8">
                    <h4>Donante</h4>
                    <div class="col-md-2">
                        @if (Model.Persona.Genero == "Masculino")
                        {
                            <img src="~/images/perfilHombre.png" width="100px"   />
                            }
                            else
                            {
                            <img src="~/images/perfilMujer.png" width="100px" />
                        }
                    </div>
                    <div class="col-md-6">
                        <p>@Model.Persona.Nombre</p>
                        <p>@age años</p>
                        <p>@Model.Persona.Ciudad.Nombre , @Model.Persona.Ciudad.Provincia.Nombre</p>
                    </div>
                </div>
                <div class="col-md-4" style="margin-top:15px; text-align:right">
                    @{
                        if (Request.Cookies["UserData"]["User"] == "rol_person")
                        {
                            if (Model.Estado == "Registrada")
                            {
                                <button class="btn btn-default" onclick="EditDonation()">Editar</button>
                                <button class="btn btn-danger" onclick="CancelDonationPerson()">Cancelar</button>
                            }
                        }
                        else
                        {
                            if (Model.Estado == "Registrada")
                            {
                                <button class="btn btn-success" onclick="ApproveDonation()">Aprobar</button>
                            }
                            else
                            {
                                <button class="btn btn-default" onclick="getPerson(@Model.Persona.Account)">Contactar</button>
                                if (Model.Estado == "Aprobada")
                                {
                                    <button class="btn btn-danger" onclick="CancelDonationIntermediary()">Cancelar</button>;
                                }
                            }
                        }
                    }
                </div>
            </div>


            <div class="row" style="margin-top:20px">
                <h4>Medicamentos</h4>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Nombre comercial</th>
                            <th>Nombre genérico</th>
                            <th>Dósis</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Medicamentos)
                        {
                            <tr>
                                <td>@item.Medicamento.NombreComercial</td>
                                <td>@item.Medicamento.NombreGenerico</td>
                                <td>@item.Medicamento.Dosis</td>
                                <td>@item.Cantidad</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div id="dialog-form-approve" title="Aprobar Donacion">
    <form id="form-approve" method="post" action="/Intermediary/ApproveDonation/@Model.Id">
        @Html.AntiForgeryToken()
        <fieldset style="margin-top:10px; margin-bottom:10px">
            ¿Está seguro que desea aprobar la donacion?
        </fieldset>
    </form>
</div>

<div id="dialog-form-cancel-person" title="Cancelar donacion">
    <form id="form-cancel-person" method="post" action="@Url.Action("CancelDonation","Person",new { id= Model.Id })">
        @Html.AntiForgeryToken()
        <fieldset style="margin-top:10px; margin-bottom:10px">
            ¿Está seguro que desea cancelar la donacion?
        </fieldset>
    </form>
</div>

<div id="dialog-form-cancel-intermediary" title="Cancelar donacion">
    <form id="form-cancel-intermediary" method="post" action="@Url.Action("CancelDonation","Intermediary",new { id= Model.Id })">
        @Html.AntiForgeryToken()
        <fieldset style="margin-top:10px; margin-bottom:10px">
            ¿Está seguro que desea cancelar la donacion?
        </fieldset>
    </form>
</div>