﻿@model DonacionMedicamentos.Users.DTO.ChangePassUserInput

@{
    ViewBag.Title = "ChangePass";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="titleHeader col-md-12">
                    <h4>Cambiar contraseña</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    @if (@ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
                        </div>
                    }
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, "Ingrese su contraseña", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PasswordNueva, "Ingrese una nueva contraseña", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.PasswordNueva, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PasswordNueva, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.RepeatPasswordNueva, "Repita la nueva contraseña", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.RepeatPasswordNueva, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RepeatPasswordNueva, "", new { @class = "text-danger" })
                    </div>
                    @Html.HiddenFor(model => model.Id, Model.Id)
                    <div class="form-group">
                        <div class="text-right">
                            <input type="submit" value="Cambiar" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
