﻿@{
    ViewBag.Title = "Login";
}

@section Scripts {
    <script src="~/js/jquery.mask.js"></script>
    <script type="text/javascript" charset="utf8" src="~/js/UserLogin.js"></script>
}


@if (@ViewBag.InfoMessage != null)
{
    <div class="alert alert-success messageAlert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <i class="fa fa-warning"></i> @ViewBag.InfoMessage
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h4 style="margin-top:50px">Iniciar Sesión</h4>
            @if (@ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
                </div>
            }
            @using (Html.BeginForm("Login", "User", FormMethod.Post, new { id = "formLogin" }))
            {
                @Html.AntiForgeryToken()
                <input type="radio" name="Rol" id="radio_person" value="rol_person" checked="checked" /> <label>Usuario</label>
                <input type="radio" name="Rol" id="radio_intermediary" value="rol_intermediary" /> <label>Intermediario</label>
                @Html.Hidden("Account", null, new { @class = "form-control" })

                <div id="formPerson" style="display:none">
                    @Html.TextBox("DNI", null, new { @class = "form-control", placeholder = "DNI" })
                </div>
                <div id="formIntermediary" style="display:none">
                    @Html.TextBox("CUIT", null, new { @class = "form-control", placeholder = "CUIT/CUIL" })
                </div>

                @Html.TextBox("Contraseña", null, new { @class = "form-control" , placeholder = "Contraseña", type = "password", required="required" })
                <p>
                    <button class="btn btn-default" style="width:100%" type="button" onclick="login()" id="button_Ingresar">Ingresar</button>
                </p>
                <label style="font-weight:normal">@Html.CheckBox("RememberMe", false) Recordarme</label>
                <a href="/User/RecoverPass" id="RecoverPass">¿Has olvidado la contraseña?</a>
            }
        </div>
    </div>  
</div>


