﻿@model DonacionMedicamentos.Users.DTO.RecoverPassUserInput

@{
    ViewBag.Title = "RecoverPass";
}

@section Scripts{
    <script type="text/javascript" charset="utf8" src="~/js/UserLogin.js"></script>
  }

<h4 style="margin-top:50px">Recuperar la contraseña</h4>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("RecoverPass", "User", FormMethod.Post, new { id = "formRecoverPass" }))
        {
            @Html.AntiForgeryToken()
            <input type="radio" name="Rol" id="radio_person" value="rol_person" checked="checked" /> <label>Usuario</label>
                <input type="radio" name="Rol" id="radio_intermediary" value="rol_intermediary" /> <label>Intermediario</label>
                @Html.Hidden("Account", null, new { @class = "form-control" })

                <div id="formPerson" style="display:none">
                    @Html.TextBox("DNI", null, new { @class = "form-control", placeholder = "DNI" })
                </div>
                <div id="formIntermediary" style="display:none">
                    @Html.TextBox("CUIT", null, new { @class = "form-control", placeholder = "CUIT/CUIL" })
                </div>
            <div style="margin-top:5px">
                <p>
                    <input class="btn btn-default" style="width:100%" type="button" onclick="recoverPass()" value="Recuperar" id="button_Ingresar"/>
                </p>
            </div>
        }        
    </div>
</div>